<a href="/home" id="logo">
  <img src="/images/logo.png" alt="VichaarShala" height="100px" width="100px">
</a>
<section id="navbar">
    <a href="/home"># Home</a>
    <a href="#Explore"># Explore</a>
    <a href="#Messages"># Messages</a>
    <a href="#Notifications"># Notifications</a>
    <a href="#Bookmark"># Bookmark</a>
    <a href="#Profile"># Profile</a>
    <a href="#More"># More</a>
</section>
<br>
<button>
    New Thought
</button>
<br>
<div>
  @<%= object.name %><br>
  <%= object.email %>
</div>