<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link rel="icon" type="image/x-icon" href="/images/logo.png">

<!-- used public scripts -->
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/explore.css">
<script src="/js/navbar.js"></script>

<title>VS | <%= object.page %> </title>
<!-- <style>
@media only screen and (min-width: 900px) {
    body {
        background-color: #48cae4;
        padding-left: 15em; 
        padding-right: 15em;
    }
    nav {
        padding-left: 10em; 
        padding-right: 10em;
    }
}
main{
    margin-top:4em;
}
</style> -->
