<a href="/home" id="logo">VichaarShala</a>
<ul id="navbar">
  <li>
    <a href="/home">Home</a>
  </li>
  <li>
    <a href="#Explore">Explore</a>
  </li>
  <li>
    <a href="#Notifications">Notifications</a>
  </li>
  <li>
    <a href="#Messages">Messages</a>
  </li>
  <li>
    <a href="#Bookmark">Bookmark</a>
  </li>
  <li>
    <a href="#Profile">Profile</a>
  </li>
  <li>
    <a href="#More">More</a>
  </li>
</ul>
<button>
    Thought
</button>
<button>
    <%= object.name %><br>
    <%= object.email %>
</button>