<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #03045e;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">RoomTalk</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <% if (object.isloggedin === true && object.RoomEntered !== true){ %>
                <li class="nav-item">
                  <form action="/authRoomID" method="POST">
                    <div class="input-group">
                      <input type="RoomID" name="RoomID" class="form-control rounded" placeholder="Enter Room ID" aria-label="Search"
                      aria-describedby="search-addon" />
                      <button type="submit" class="btn btn-outline-primary">ENTER</button>
                    </div>    
                  </form> 
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/newRoomID">Register New Room</a>
                </li>
              <% } %> 
              <% if (object.isloggedin === true && object.RoomEntered === true){ %>
                <li class="nav-item">
                  <li class="nav-item">
                    <a class="nav-link" href="/leaveRoom">Leave Room</a>
                  </li>
                </li>
              <% } %> 
              <% if (object.isloggedin !== true) { %>
                <li class="nav-item"></li>
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signup">Signup</a>
                </li>
              <% } else { %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= object.username %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <a class="dropdown-item" href="/settings">Settings</a>
                    <a class="dropdown-item" href="/switchacc">Switch Accounts</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/signout">Sign out</a>
                  </div>
                </li>
              <% } %> 
            </ul>
          </div>
        </div>
      </nav> 
</header>