<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
<section class="left">
    <%- include('partials/left') %> 
</section>
<section class="main">
    <%- include('partials/main') %> 
    main section
</section>
<section class="right">
    <%- include('partials/right') %> 
    right section
</section>
</body>
</html>