<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
<header class="header">
    <%- include('partials/header') %> 
</header>
<main class="main">
    <%- include('partials/main') %> 
    main section
</main>
</body>
</html>