<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/login.css">
	<meta charset="utf-8">
	<title>Login Form Tutorial</title>
</head>
	<body>
		<div class="login-form">
			<h1>Signup</h1>
			<form action="register" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="email" name="email" placeholder="Email" required>
				<input type="role" name="role" placeholder="Role" required hidden value="normal">
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
    </body>
</html>
